In [1]:
import pandas as pd
data = pd.read_csv("/dsa/data/DSA-8630/mini_project/pantheon-project/database.csv")
data

,article_id,full_name,sex,birth_year,city,state,country,continent,latitude,longitude,occupation,industry,domain,article_languages,page_views,average_views,historical_popularity_index
0,308,Aristotle,Male,-384,Stageira,NaN,Greece,Europe,40.33333,23.50000,Philosopher,Philosophy,Humanities,152,56355172,370758,31.9938
1,22954,Plato,Male,-427,Athens,NaN,Greece,Europe,37.96667,23.71667,Philosopher,Philosophy,Humanities,142,46812003,329662,31.9888
2,1095706,Jesus Christ,Male,-4,Judea,NaN,Israel,Asia,32.50000,34.90000,Religious Figure,Religion,Institutions,214,60299092,281771,31.8981
3,25664190,Socrates,Male,-469,Athens,NaN,Greece,Europe,37.96667,23.71667,Philosopher,Philosophy,Humanities,137,40307143,294213,31.6521
4,783,Alexander the Great,Male,-356,Pella,NaN,Greece,Europe,40.80000,22.51667,Military Personnel,Military,Institutions,138,48358148,350421,31.584
5,18079,Leonardo da Vinci,Male,1452,Vinci,NaN,Italy,Europe,43.78333,10.91667,Inventor,Invention,Science & Technology,174,88931135,511098,31.4644
6,5823,Confucius,Male,-551,Qufu,NaN,China,Asia,NaN,NaN,Philosopher,Philosophy,Humanities,192,22363652,116477,31.3705
7,15924,Julius Caesar,Male,-100,Rome,NaN,Italy,Europe,41.90000,12.50000,Politician,Government,Institutions,128,43088745,336631,31.1161
8,13633,Homer,Male,-800,Smyrna,NaN,Turkey,Europe,38.41861,27.13917,Writer,Language,Humanities,141,20839405,147797,31.1087
9,23275,Pythagoras,Male,-570,Samos Island,NaN,Greece,Europe,37.75000,26.83333,Philosopher,Philosophy,Humanities,114,26168219,229546,31.0691
10,1844,Archimedes,Male,-287,Syracuse,NaN,Italy,Europe,37.08333,15.28333,Mathematician,Math,Science & Technology,129,22022077,170714,30.9907
11,19577,Moses,Male,-1391,Wadi Tumilat,NaN,Egypt,Africa,NaN,NaN,Religious Figure,Religion,Institutions,115,21880195,190263,30.8632
12,18934,Muhammad,Male,570,Mecca,NaN,Saudi Arabia,Asia,21.41667,39.81667,Religious Figure,Religion,Institutions,150,43026648,286844,30.65
13,1436,Abraham,Male,-1800,Other,NaN,Unknown,NaN,33.70000,43.50000,Religious Figure,Religion,Institutions,105,17824676,169759,30.6047
14,2731583,Adolf Hitler,Male,1889,Braunau am Inn,NaN,Austria,Europe,48.25833,13.03500,Politician,Government,Institutions,169,128368798,759579,30.5778
15,33163,Wolfgang Amadeus Mozart,Male,1756,Salzburg,NaN,Austria,Europe,47.80000,13.03333,Composer,Music,Arts,177,51363334,290188,30.5146
16,5314,Charlemagne,Male,742,Liège,NaN,Belgium,Europe,NaN,NaN,Politician,Government,Institutions,116,26626252,229537,30.4837
17,32897,William Shakespeare,Male,1564,Stratford-upon-Avon,NaN,United Kingdom,Europe,52.19000,-1.71000,Writer,Language,Humanities,163,74882297,459401,30.4398
18,21019,Michelangelo,Male,1475,Caprese Michelangelo,NaN,Italy,Europe,43.63333,11.98333,Painter,Fine Arts,Arts,158,39992803,253119,30.4383
19,1273,Augustus,Male,-63,Rome,NaN,Italy,Europe,41.90000,12.50000,Politician,Government,Institutions,117,20307663,173570,30.4195
20,69880,Napoleon Bonaparte,Male,1769,Corsica,NaN,France,Europe,41.92670,8.73690,Politician,Government,Institutions,145,57559307,396961,30.3263
21,14627,Isaac Newton,Male,1642,Woolsthorpe-by-Colsterworth,NaN,United Kingdom,Europe,52.80986,-0.62877,Physicist,Natural Sciences,Science & Technology,191,59909049,313660,30.2889
22,736,Albert Einstein,Male,1879,Ulm,NaN,Germany,Europe,48.40000,9.98333,Physicist,Natural Sciences,Science & Technology,166,89771090,540790,30.2106
23,5635,Christopher Columbus,Male,1451,Genoa,NaN,Italy,Europe,44.41111,8.93278,Explorer,Explorers,Exploration,153,58442090,381974,30.1753
24,9906294,Johann Sebastian Bach,Male,1685,Eisenach,NaN,Germany,Europe,50.97611,10.32056,Composer,Music,Arts,144,29753654,206623,30.1672
25,8169,Dante Alighieri,Male,1265,Florence,NaN,Italy,Europe,43.78333,11.25000,Writer,Language,Humanities,137,20540747,149932,30.1496
26,17914,Ludwig van Beethoven,Male,1770,Bonn,NaN,Germany,Europe,50.73399,7.09981,Composer,Music,Arts,153,48132344,314590,30.1093
27,3395,Gautama Buddha,Male,-563,Lumbini,NaN,Nepal,Asia,27.53333,83.05000,Philosopher,Philosophy,Humanities,124,23685332,191011,30.0418
28,60827,Cleopatra VII of Egypt,Female,-69,Alexandria,NaN,Egypt,Africa,31.20000,29.91667,Politician,Government,Institutions,100,18849501,188495,30.0367
29,7567080,Martin Luther,Male,1483,Eisleben,NaN,Germany,Europe,51.51667,11.55000,Religious Figure,Religion,Institutions,125,35167994,281344,30.0311
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11311,6259191,Itumeleng Khune,Male,1987,Ventersdorp,NaN,South Africa,Africa,-26.31667,26.81667,Soccer Player,Team Sports,Sports,27,320092,11855,12.4219
11312,32862270,Benjamin Angus Wright,Male,1950,England,NaN,United Kingdom,Europe,NaN,NaN,Composer,Music,Arts,40,1965,49,12.3932
11313,15209530,Kevin Anderson,Male,1986,Johannesburg,NaN,South Africa,Africa,-26.20444,28.04556,Tennis Player,Individual Sports,Sports,27,62343,2309,12.3807
11314,26823325,Shane Dawson,Male,1988,Los Angeles,CA,United States,North America,33.76833,-118.19556,Actor,Film And Theatre,Arts,27,2247314,83234,12.3796
11315,730866,Asa,Male,Unknown,Other,NaN,Unknown,Unknown,NaN,NaN,Politician,Government,Institutions,31,282386,9109,12.3371
11316,1599311,Greg Cipes,Male,1980,Coral Springs,FL,United States,North America,26.27056,-80.25917,Actor,Film And Theatre,Arts,27,764235,28305,12.3083
11317,14914566,Bilawal Bhutto Zardari,Male,1988,Karachi,NaN,Pakistan,Asia,24.86000,67.01000,Politician,Government,Institutions,30,841239,28041,12.2677
11318,30832789,Eldar Gasimov,Male,1989,Baku,NaN,Azerbaijan,Asia,40.39528,49.88222,Not Provided,Not Provided,Arts,28,402049,14359,12.2422
11319,4426900,Addys D'Mercedes,Female,1985,Moa,NaN,Cuba,North America,20.63972,-74.91750,Singer,Music,Arts,31,27958,902,12.2018
11320,25571583,Ivi Adamou,Female,1993,Ayia Napa,NaN,Cyprus,Asia,34.98000,34.00000,Singer,Music,Arts,30,558856,18629,12.1482
11321,937355,Leisel Jones,Female,1985,Katherine,NaN,Australia,Oceania,-14.46667,132.26667,Swimmer,Not Provided,Sports,26,463947,17844,Not Provided
11322,33983258,Malala Yousafzai,Female,1998,Mingora,NaN,Pakistan,Asia,34.78333,72.36667,Social Activist,Activism,Public Figure,41,4667416,113839,12.1429
11323,3041968,Infanta Leonor of Spain,Female,2005,Madrid,NaN,Spain,Europe,40.40000,-3.68333,Nobleman,Government,Institutions,28,Not Provided,Not Provided,Not Provided
11324,18902563,Shelly-Ann Fraser,Female,1986,Kingston,NaN,Jamaica,North America,17.98333,-76.80000,Athlete,Individual Sports,Sports,30,733320,24444,12.1316
11325,34299862,Soluna Samay,Female,1990,Guatemala City,NaN,Guatemala,North America,14.61333,-90.53528,Singer,Music,Arts,32,228780,7149,12.0464
11326,12892545,Anton Shunin,Male,1987,Moscow,NaN,Russia,Europe,55.75000,37.61667,Soccer Player,Team Sports,Sports,26,117406,4516,12.0357
11327,27644025,Emmanuel Frimpong,Male,1992,Kumasi,NaN,Ghana,Africa,6.66667,-1.61667,Soccer Player,Team Sports,Sports,26,1569708,60373,12.0223
11328,6433331,Mohamed Farah,Male,1983,Mogadishu,NaN,Somalia,Africa,2.03333,45.35000,Athlete,Individual Sports,Sports,28,2790213,99650,11.9302
11329,4426495,Stephanie Rice,Female,1988,Brisbane,NaN,Australia,Oceania,-27.46667,153.03333,Swimmer,Individual Sports,Sports,31,1552820,50091,11.8106
11330,28797732,Václav Pilař,Male,1988,Chlumec nad Cidlinou,NaN,Czech Republic,Europe,50.15556,15.45778,Soccer Player,Team Sports,Sports,34,319330,9392,11.7884
11331,21719255,Marc Albrighton,Male,1989,Tamworth,NaN,United Kingdom,Europe,52.63300,-1.69500,Soccer Player,Team Sports,Sports,26,495420,19055,11.7258
11332,3958892,Shane Long,Male,1987,Gortnahoe,NaN,Ireland,Europe,NaN,NaN,Soccer Player,Team Sports,Sports,26,799202,30739,11.7174
11333,18742482,Sun Yang,Male,1991,Hangzhou,NaN,China,Asia,30.25000,120.16667,Swimmer,Individual Sports,Sports,26,491910,18920,11.6234
11334,18301533,Rebecca Soni,Female,1987,Freehold Borough,NJ,United States,North America,40.26022,-74.27588,Swimmer,Individual Sports,Sports,27,886815,32845,11.405
11335,32941975,Jetro Willems,Male,1994,Rotterdam,NaN,Netherlands,Europe,51.91667,4.50000,Soccer Player,Team Sports,Sports,27,Not Provided,21404,11.3956
11336,5891391,Sean St Ledger,Male,1984,Solihull,NaN,United Kingdom,Europe,52.41290,-1.77209,Soccer Player,Team Sports,Sports,28,380965,13606,11.1346
11337,5322451,Saina Nehwal,Female,1990,Hisar,NaN,India,Asia,29.16670,75.71670,Athlete,Individual Sports,Sports,26,2255010,86731,10.6122
11338,33525706,Rūta Meilutytė,Female,1997,Kaunas,NaN,Lithuania,Europe,54.90000,23.88611,Swimmer,Individual Sports,Sports,32,342719,10710,10.3821
11339,22938476,Vladimír Weiss,Male,1989,Bratislava,NaN,Slovakia,Europe,48.14389,17.10972,Soccer Player,Team Sports,Sports,27,12479,462,10.2495
11340,26535791,Missy Franklin,Female,1995,Los Angeles,CA,United States,North America,34.15611,-118.13194,Swimmer,Individual Sports,Sports,26,1894716,72874,9.8794

In [2]:
import json
with open("/dsa/data/DSA-8630/mini_project/Youth_smoke_habits.txt",'r') as f:
    Youths=json.load(f)

In [4]:
import pandas as pd
from pandas.io.json import json_normalize

result=pd.io.json.json_normalize(Youths,'data') # parameter data is passed because we only want the contents 
                                                    # of data tag
result.head()

,0,1,2,3,4,5,6,7,8,9,...,29,30,31,32,33,34,35,36,37,38
0,1,09D58458-EA38-4FCD-9F7A-F580D3BE86D6,1,1472057179,891179,1472057179,891179,None,2015,AZ,...,"[None, 34.865970280000454, -111.76381127699972...",BEH,105BEH,170CES,1GEN,8AGE,6RAC,1EDU,YTS01,1
1,2,A2AE641F-CFCE-4DCF-BF32-E0673497FFF9,2,1472057179,891179,1472057179,891179,None,2015,AZ,...,"[None, 34.865970280000454, -111.76381127699972...",BEH,105BEH,170CES,2GEN,8AGE,6RAC,1EDU,YTS02,2
2,3,3225F9BD-95BE-4C7B-9470-BF6203437014,3,1472057179,891179,1472057179,891179,None,2015,AZ,...,"[None, 34.865970280000454, -111.76381127699972...",BEH,105BEH,170CES,3GEN,8AGE,6RAC,1EDU,YTS03,3
3,4,32C0F98D-2F44-4E56-B488-582BC3F4D97F,4,1472057179,891179,1472057179,891179,None,2015,AZ,...,"[None, 34.865970280000454, -111.76381127699972...",BEH,105BEH,169QUA,1GEN,8AGE,6RAC,1EDU,YTS04,4
4,5,37AAE3EA-AF9D-40BC-9A4A-4D56E9EDF1A9,5,1472057179,891179,1472057179,891179,None,2015,AZ,...,"[None, 34.865970280000454, -111.76381127699972...",BEH,105BEH,169QUA,2GEN,8AGE,6RAC,1EDU,YTS05,5

In [5]:
len(Youths["meta"]["view"]["columns"])

39

In [6]:
import numpy as np
names=[]
length=len(Youths["meta"]["view"]["columns"])
for i in range(0, length):
    names.append(Youths["meta"]["view"]["columns"][i]["fieldName"])
names

[':sid',
 ':id',
 ':position',
 ':created_at',
 ':created_meta',
 ':updated_at',
 ':updated_meta',
 ':meta',
 'year',
 'locationabbr',
 'locationdesc',
 'topictype',
 'topicdesc',
 'measuredesc',
 'datasource',
 'response',
 'data_value_unit',
 'data_value_type',
 'data_value',
 'data_value_footnote_symbol',
 'data_value_footnote',
 'data_value_std_err',
 'low_confidence_limit',
 'high_confidence_limit',
 'sample_size',
 'gender',
 'race',
 'age',
 'education',
 'geolocation',
 'topictypeid',
 'topicid',
 'measureid',
 'stratificationid1',
 'stratificationid2',
 'stratificationid3',
 'stratificationid4',
 'submeasureid',
 'displayorder']

In [8]:
names=[word for word in names if not ':' in word]
names

['year',
 'locationabbr',
 'locationdesc',
 'topictype',
 'topicdesc',
 'measuredesc',
 'datasource',
 'response',
 'data_value_unit',
 'data_value_type',
 'data_value',
 'data_value_footnote_symbol',
 'data_value_footnote',
 'data_value_std_err',
 'low_confidence_limit',
 'high_confidence_limit',
 'sample_size',
 'gender',
 'race',
 'age',
 'education',
 'geolocation',
 'topictypeid',
 'topicid',
 'measureid',
 'stratificationid1',
 'stratificationid2',
 'stratificationid3',
 'stratificationid4',
 'submeasureid',
 'displayorder']